{% extends "../base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail">
  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static " imgno_image.png" %}{% endif %}">
  <h2>{{product.name}}</h2>
  <p class="price">{{product.price}} zł</p>
  {{product.description | linebreaksbr}}
  <form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Dodaj do koszyka">
  </form>


</div>
{% endblock %}